/*********************************************************
    Buttons
*********************************************************/

.btn {
  display: inline-block;
  padding: 0 rem(10);
  height: rem(45);
  line-height: rem(45);
  font-size: rem(16);
  color: $color__white;
  background-color: $color__primary;
  border-radius: rem(4);
  border: 1px solid $color__primary;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover,
  &:focus {
      text-decoration: none;
      color: $color__white;
      background-color: $color__primary--dark;
  }
  &--secondary {
      background-color: $color__secondary;
      border-color: $color__secondary;
      &:hover,
      &:focus {
          background-color: $color__secondary--dark;
      }
  }
  &--muted {
      color: $color__primary;
      background-color: transparent;
      border-color: $color__primary;
      &:hover,
      &:focus {
          background-color: $color__primary;
          border-color: $color__primary--dark;
      }
  }
  &--large {
      padding: rem(15) rem(25);
      font-size: rem(18);
  }
  &--disabled {
      opacity: 0.8;
      cursor: not-allowed;
  }
  &--block {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
  }
  &--has-line {
    position: relative;
    padding-left: rem(38);
    padding-right: rem(30);
    padding-top: rem(20);
    padding-bottom: rem(20);
    //margin-left: rem(100);
    background: $color__primary;
    color: $color__white;
    &:before {
      content: '';
      position: absolute;
      background: $color__secondary;
      bottom: 26px;
      display: block;
      height: 2px;
      left: -60px;
      width: 70px;
      padding-left: rem(58);
      padding-right: rem(28);
      transition: all 0.25s ease-in-out;
    }
  }
}

.line {
  display: inline-block;
  background: $color__secondary;
  height: 2px;
  width: 70px;
}
